<!DOCTYPE html>
<html>
    <head>
        <title>Notes</title>

        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">

        <link rel="shortcut icon" href="/favicon.ico">
    </head>

    <body ng-app="app" ng-controller="appController" ng-cloak>
        <div class="content">
            <div class="container" ng-view></div>
        </div>

        <script type="text/javascript" src="/lib/lodash/lodash.js"></script>
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/dist/app.js"></script>
    </body>
</html>
